/*-- responsive CSS --*/
@media (min-width: 1200px) {
	.container {
		max-width: 1175px;
	}
}

@media (max-width: 1530px) {
	.hero-slider .owl-dots {
		width: 1170px;
		left: calc(50% - 585px);
	}
}

/*-- medium screen : 992px. --*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-item .blog-thumb {
		width: 250px;
	}
	.hero-item p {
		font-size: 22px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 30px;
	}
	.hero-slider .owl-dots {
		width: 930px;
		left: calc(50% - 465px);
	}
}

/*-- tablet :768px. --*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-bar-warp {
		padding: 39px 15px 0;
	}
	.main-menu li a {
		margin-right: 10px;
	}
	.hero-item h2 {
		font-size: 110px;
	}
	.hero-item p {
		font-size: 16px;
		padding: 0 30px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 0;
	}
	.hero-slider .owl-dots {
		width: 690px;
		left: calc(50% - 345px);
	}
	.footer-right-pic {
		right: 15px;
	}
	.footer-left-pic {
		left: -44px;
	}
	.review-pic img {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.contact-text {
		margin-bottom: 50px;
	}
}

/*-- l_mobile :480px. --*/
@media only screen and (max-width: 767px) {
	.header-bar-warp {
		padding: 25px 20px 10px;
	}
	.main-menu.primary-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: #081624;
	}
	.slicknav_btn {
		margin-right: 10px;
		background: #3a3a3a;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		background: #25394c;
		color: #fff;
	}
	.hero-item h2 {
		font-size: 70px;
	}
	.hero-item p {
		font-size: 18px;
	}
	.hero-slider .owl-nav .owl-next {
		top: auto;
		bottom: 33px;
		right: 15px;
		z-index: 99;
	}
	.hero-slider .owl-dots {
		width: 100%;
		left: 0;
		padding-left: 15px;
	}
	.page-top-section {
		height: 400px;
		padding-top: 250px;
	}
	.review-pic img {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.review-content .rating {
		position: relative;
		margin-bottom: 20px;
	}
	.review-content .rating h5 {
		text-align: left;
		padding-right: 0;
	}
}

/*-- s_mobile :320px. --*/
@media only screen and (max-width: 479px) {
	.hero-item h2 {
		font-size: 55px;
		margin-bottom: 20px;
	}
	.hero-item p {
		font-size: 15px;
	}
}